* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  font-family: "Work Sans", georgia, arial, sans-serif;
  color: #303030; }

.float-fix {
  clear: both; }

.home {
  height: 100%;
  width: 100%;
  position: fixed; }

.pic {
  height: 100%;
  width: 29.5%;
  position: absolute;
  background-position: center center;
  background-size: cover;
  background: -webkit-linear-gradient(left, #3B9DC4, #4C9DC4);
  background-color: #4C9DC4; }

.padded-container {
  height: 100%;
  padding: 8%; }

.slide-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto; }
  .slide-container .mySlides {
    height: 100%;
    display: none; }
  .slide-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .8s;
    animation-name: fade;
    animation-duration: .8s; }
@keyframes fade {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }
  .slide-container .selector {
    display: inline-block;
    position: absolute;
    top: 90%;
    right: 50%; }
  .slide-container .dot {
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease; }
  .slide-container .active, .slide-container .dot:hover {
    background-color: #717171; }
  .slide-container p {
    font-size: 1.05em; }

#slide-one {
  height: 100%;
  background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
  background-color: #D4D4D4; }
  #slide-one .topic-wrap {
    display: flex;
    height: 100%;
    font-size: 1.05em; }
  #slide-one .topic {
    width: 40%;
    text-align: right; }
    #slide-one .topic .halfStyle {
      font-size: 20em;
      position: relative;
      overflow: hidden;
      white-space: pre;
      display: inline; }
    #slide-one .topic .hs-vertical-half:before {
      display: block;
      display: inline;
      z-index: 1;
      position: absolute;
      overflow: hidden;
      color: #fff;
      opacity: .7; }
    #slide-one .topic .hs-vertical-half:after {
      color: #FF3E34; }
  #slide-one .about-me {
    height: 100%;
    width: 57%;
    margin-left: 3%;
    display: inline; }
    #slide-one .about-me p {
      margin-top: 48%; }

/*end of slide-one css edditing*/
#slide-two {
  /*start of slide-two*/
  height: 100%;
  background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
  background-color: #D4D4D4; }
  #slide-two .approach {
    background: -webkit-linear-gradient(right, #FF4231, #FF2F31);
    background-color: red;
    width: 45%;
    height: 100%;
    float: left; }
    #slide-two .approach .halfStyle {
      font-size: 10em;
      position: relative;
      overflow: hidden;
      white-space: pre;
      display: inline; }
    #slide-two .approach .hs-vertical-half:before {
      display: block;
      display: inline;
      z-index: 1;
      position: absolute;
      overflow: hidden;
      color: #1C3366; }
    #slide-two .approach .hs-vertical-half:after {
      color: #fff; }
    #slide-two .approach p {
      width: 90%;
      float: right;
      margin: 5% auto; }
  #slide-two #toolkit {
    background: -webkit-linear-gradient(left, #3B9DC4, #4C9DC4);
    background-color: #4C9DC4;
    width: 55%; }
    #slide-two #toolkit .halfStyle {
      display: inline;
      margin-right: -6%; }
    #slide-two #toolkit .hs-vertical-half:before {
      color: #fff; }
    #slide-two #toolkit .hs-vertical-half:after {
      color: #FF4231; }
    #slide-two #toolkit .kits {
      width: 22%;
      margin: 1%;
      float: left;
      background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
      background-color: #D4D4D4;
      text-align: center;
      border: 2px solid #383838;
      border-radius: 3px;
      padding: 9px 0; }
      #slide-two #toolkit .kits h1 {
        font-size: 2.2em;
        display: inline-block;
        padding: 5%;
        margin-bottom: 10%;
        border-radius: 3px;
        background-repeat: no-repeat; }

/*end of slide-two*/
#slide-three {
  background: -webkit-linear-gradient(left, #1C3366, #204775);
  background-color: #1C3366; }
  #slide-three .pannel {
    width: 12%;
    height: 80%;
    text-align: center;
    float: left;
    font-family: 'Lobster', cursive;
    font-size: 3em;
    color: #D4D4D4; }
    #slide-three .pannel .halfStyle {
      font-size: 1.5em;
      position: relative;
      overflow: hidden;
      white-space: pre;
      display: inline; }
    #slide-three .pannel .hs-vertical-half:before {
      display: block;
      display: inline;
      z-index: 1;
      position: absolute;
      overflow: hidden;
      color: #D4D4D4; }
    #slide-three .pannel .hs-vertical-half:after {
      color: #FF3E34; }
  #slide-three .mentee {
    height: 70%;
    position: relative;
    right: 7%;
    top: 25%; }
  #slide-three .closing {
    background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
    display: inline-block;
    height: 100%;
    width: 76%;
    border-radius: 10px;
    float: right; }
    #slide-three .closing .dom {
      width: 65%;
      height: 70%;
      float: left; }
    #slide-three .closing .domspic {
      background-position: center center;
      background-size: cover;
      width: 35%;
      border-top-left-radius: 10px; }
      #slide-three .closing .domspic .overlay {
        width: 100%;
        height: 100%;
        background-color: #383838;
        opacity: .5; }
    #slide-three .closing .greeting {
      padding: 2%; }
      #slide-three .closing .greeting p {
        margin-top: 8%; }
    #slide-three .closing .contacts {
      height: 15%;
      margin: 2.5%;
      width: 95%;
      float: center;
      display: flex;
      align-items: center;
      text-align: center; }
    #slide-three .closing .reachby {
      width: 38%;
      padding: 8px 0;
      border-radius: 3px;
      border: 2px solid #383838;
      background-color: #204775;
      color: #D4D4D4;
      cursor: pointer; }
      #slide-three .closing .reachby:hover {
        background: -webkit-linear-gradient(right, #FF4231, #FF3E34);
        background-color: #FF3E34; }
    #slide-three .closing .email {
      margin-left: auto;
      order: 1; }

/*end of slide three*/
.main-content {
  background-color: teal;
  width: 100%;
  height: 150%;
  top: 100%;
  position: relative; }
  .main-content h1 {
    font-size: 2.5em; }
  .main-content .portfolio-wrap {
    width: 100%;
    height: 55%;
    margin-top: 8%; }
  .main-content .site-wrap {
    width: 33.3%;
    height: 100%;
    position: relative;
    overflow: hidden;
    float: left;
    transition: all .85s ease; }
  .main-content .site {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    overflow: hidden;
    transition: all .85s ease; }
  .main-content .site-link {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70%;
    top: 0;
    transition: all .85s ease; }
  .main-content .one {
    background: url("../images/me.jpg");
    background-position: center center;
    background-size: cover; }
  .main-content .two {
    background-color: purple; }
  .main-content .av8 {
    background-color: pink; }
  .main-content .uwa {
    background-color: blue; }
  .main-content .site-wrap:hover .site-link {
    height: 70%;
    top: -70%; }
  .main-content .site-wrap:hover .site {
    top: -70%; }

footer {
  width: 100%;
  background-color: #fff; }

/*# sourceMappingURL=styles.css.map */
