* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Work Sans", georgia, arial, sans-serif;
	color: #303030;
}

.float-fix {
	clear: both;
}

.home {
	height: 100%;
	width: 100%;
	position: fixed;
}

.pic {
	height: 100%;
	width: 29.5%;
	position: absolute;
	background-position: center center;
	//background: url("../images/home.jpeg");
	background-size: cover;
	background: -webkit-linear-gradient(left, #3B9DC4, #4C9DC4);
	background-color: #4C9DC4;

}

.padded-container {
	height: 100%;
	padding: 8%;
}

.slide-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: auto;

	.mySlides {
		height: 100%;
		display: none;

	}

	.fade {
		-webkit-animation-name: fade;
  		-webkit-animation-duration: .8s;
  		animation-name: fade;
 		animation-duration: .8s;
	}

	@keyframes fade {
		from {opacity: .5}
		to{opacity: 1}
	}

	.selector {
		display: inline-block;
		position: absolute;
		top: 90%;
		right: 50%;
	}

	.dot {
  		position: relative;
  		cursor:pointer;
 	 	height: 15px;
  		width: 15px;
  		background-color: #bbb;
  		border-radius: 50%;
  		display: inline-block;
  		transition: background-color 0.7s ease;
	}

	.active, .dot:hover {
  		background-color: #717171;
	}


	p {
		font-size: 1.05em;
	}


}

#slide-one {
	height: 100%;
	background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
	background-color: #D4D4D4;

	.topic-wrap {
		display: flex;
		height: 100%;
		font-size: 1.05em;
	}

	.topic {
		width: 40%;
		text-align: right;

		.halfStyle {
			font-size: 20em;
			position: relative;
    		overflow: hidden;
    		white-space: pre; 
    		display: inline;
		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 1;
			position: absolute;
			overflow: hidden;
			color: #fff;
			opacity: .7;
		}

		.hs-vertical-half:after {
			color: #FF3E34;
		}

	}
	.about-me {
		height: 100%;
		width: 57%;
		margin-left: 3%;
		display: inline;

		p {
			margin-top: 48%;

		}
	}
}/*end of slide-one css edditing*/

#slide-two { /*start of slide-two*/
	height: 100%;
	background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
	background-color: #D4D4D4;

	.approach {
		background: -webkit-linear-gradient(right, #FF4231, #FF2F31);
		background-color: #FF2F31;
		width: 45%;
		height: 100%;
		float: left;

		.halfStyle {
			font-size: 10em;
			position: relative;
			overflow: hidden;
    		white-space: pre; 
    		display: inline;
		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 1;
			position: absolute;
			overflow: hidden;
			color: #1C3366;
		}

		.hs-vertical-half:after {
			color: #fff;
		}

		p {
			width: 90%;
			float: right;
			margin: 5% auto;
		}

	}

	#toolkit {
		background: -webkit-linear-gradient(left, #3B9DC4, #4C9DC4);
		background-color: #4C9DC4;
		width: 55%;

		.halfStyle { 	
    		display: inline;
    		margin-right: -6%;
		}

		.hs-vertical-half:before {
			color: #fff;
		}

		.hs-vertical-half:after {
			color: #FF4231;
		}


		.kits {
			width: 22%;
			margin: 1%;
			float: left;
			background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
			background-color: #D4D4D4;
			text-align: center;
			border: 2px solid #383838;
			border-radius: 3px;
			padding: 9px 0;


			h1 {
				font-size: 2.2em;
				display: inline-block;
				padding: 5%;
				margin-bottom: 10%;
				border-radius: 3px;
				background-repeat: no-repeat;
			}

		}

	}

}
/*end of slide-two*/

#slide-three {
	background: -webkit-linear-gradient(top, #1C3366, #204775 50%, #82A6C8, #91A6C8 50%);
	background-color: #1C3366;

	.closing {
		background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
		display: inline-block;
		height: 95%;
		width: 76%;
		margin-top: 5%;
		float: right;
		border: 2px solid #383838;


		.dom {
			width: 65%;
			height: 70%;
			float: left;
		}

		.domspic {
			background-position: center center;
			//background: url("../images/me.jpg");
			background-size: cover;
			width: 35%;

			.overlay {
				width: 100%;
				height: 100%;
				background-color: #383838;
				opacity: .5;

			}
		}

		.greeting {	
			padding: 2%;

			p {
				margin-top: 8%;
			}
		}

		.contacts {
			height: 15%;
			margin: 2.5%;
			width: 95%;
			float: center;
			display: flex;
			align-items: center;
			text-align: center;				
		}

		.reachby {
			width: 38%;
			padding: 8px 0;
			border-radius: 3px;
			border: 2px solid #383838;
  			background-color: #204775;
  			color: #D4D4D4;
			cursor: pointer;

			&:hover {
				background: -webkit-linear-gradient(right, #FF4231, #FF3E34);
				background-color: #FF3E34;
			}

		}

		.email {
			margin-left: auto;
			order: 1;
		}
	}

}/*end of slide three*/


.main-content {
	background: -webkit-linear-gradient(top, #F7F7F7, #EDEDED 50%,  #D1D1D1, #D4D4D4 50%);
	width: 100%;
	height: 165%;
	top: 100%;
	position: relative;

	h1 {
		font-size: 2.5em;
		display: inline-block;
	}

	.portfolio-wrap {
		width: 100%;
		height: 50%;
		margin-top: 7%;
	}

	.site-wrap {
		width: 33.3%;
		height: 100%;
		position: relative;
		overflow: hidden;
		float: left;
		transition: all .85s ease;
		-webkit-transition-delay: .6s;
    	transition-delay: .6s;
	}

	.site {
		width: 100%;
		height: 100%;
		position: relative;
		top: 0;
		overflow: hidden;
		transition: .85s ease;
		-webkit-transition-delay: .6s;
    	transition-delay: .6s;
	}

	.site-link {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		transition: all .85s ease;
		-webkit-transition-delay: .6s;
    	transition-delay: .6s;
	}

	.one {
		//background: url("../images/me.jpg");
		background-position: center center;
		background-size: cover;
		background-color: yellow;
	}

	.two {
		background-color: purple;

	}

	.av8 {
		background-color: pink;
	}

	.uwa {
		background-color: blue;
	}

	.site-wrap:hover {

		.site-link {
			height: 100%;
			top: -100%;
		}

		.site {
			top: -100%;
		}
	}

	.contactme {
		width: 60%;
		margin: 12% auto;
		text-align: center;
		cursor: pointer;

		&:hover {
			color: #FF3E34;
		}

	}

}

footer {
	width: 100%;
	background-color: #fff;

}

