* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Work Sans", georgia, arial, sans-serif;
	color: #303030;
}

.float-fix {
	clear: both;
}

.home {
	background: -webkit-linear-gradient( #F7F7F7, #EDEDED);
	background-color: #EDEDED; 
	height: 100%;
	position: fixed;

	.padded-container {
		height: 86%;
		padding: 0 5%;
	}
}


#header {
	width: 100%;
	padding: .5% 5%;
	overflow: hidden;
	display: flex;
	font-size: 1.2em;

	.namewrap {
		float: left;
		display: inline;

		.halfStyle { 
			display: inline;
			font-size: 1em;	
		}

		.hs-vertical-half:after {
			color: #FF4231;
		}	

		.hs-vertical-half:before {
			color: #303030;
		}	
	}

	#lastname {
		padding: 0 8px;
	}
}

.quick-contact {
	margin-left: auto;
	order: 2;
	color: #303030;
	font-size: .8em;

	a {
		text-decoration: none;
		color: #303030;
	}
}

#work {
	margin: 0 20px;
}

.slide-container {
	height: 100%;
	position: relative;
	margin: auto;

	.mySlides {
		height: 100%;
		display: none;
	}

	.fade {
		-webkit-animation-name: fade;
  		-webkit-animation-duration: .8s;
  		animation-name: fade;
 		animation-duration: .8s;
	}

	@keyframes fade {
		from {opacity: .5}
		to{opacity: 1}
	}

	.selector {
		display: inline-block;
		position: absolute;
		top: 90%;
		right: 50%;

		i {
			font-size: 1.5em;
			margin-left: 30%;
			color: #303030;
		}
	}

	.buton {
		text-decoration: none;
	}


	.dot {
  		position: relative;
  		cursor:pointer;
 	 	height: 15px;
  		width: 15px;
  		background-color: #bbb;
  		border-radius: 50%;
  		display: inline-block;
  		transition: background-color 0.7s ease;
	}

	.active, .dot:hover {
  		background-color: #717171;
	}

	p {
		font-size: 1.3em;
	}
}

.leftmain-picture {
	height: 100%;
	width: 30%;
	position: absolute;
}


#slide-one {
	height: 100%;
	background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
	background-color: #D4D4D4;

	.leftmain-picture {
		background: url("../images/aboutpic.jpeg");
		background-position: center center;
		background-size: cover;
	}

	.topic-wrap {
		display: flex;
		height: 100%;
		font-size: 1.05em;
	}

	.topic {
		width: 40%;
		padding: 5%;
		text-align: right;

		.halfStyle {
			font-size: 20em;
			position: relative;
    		overflow: hidden;
    		white-space: pre; 
    		display: inline;
    		margin: 5% 0 0 50.5%;
		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 1;
			position: absolute;
			overflow: hidden;
			color: #fff;
			opacity: .7;
		}

		.hs-vertical-half:after {
			color: #FF3E34;
		}
	}

	.about-me {
		height: 100%;
		width: 60%;
		padding: 8%;
		float: right;

		p {
			padding: 15% 0;
		}
	}
}/*end of slide-one css edditing*/

#slide-two { /*start of slide-two*/
	height: 100%;

	.approach {
		background: -webkit-linear-gradient(right, #FF4231, #E04B3A);
		background-color: #FF2F31;
		width: 45%;
		height: 100%;
		float: left;
		padding: 0 3%;

		.halfStyle {
			font-size: 12em;
			position: relative;
			overflow: hidden;
    		white-space: pre; 
    		display: inline;
		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 1;
			position: absolute;
			overflow: hidden;
			color: #1C3366;
		}

		.hs-vertical-half:after {
			color: #fff;
		}

		.wordending {
			font-size: 2em;
		}


		p {

			padding: 7% 0;
		}

	}

	#toolkit {
		background: -webkit-linear-gradient(left, #3B9DC4, #4C9DC4);
		background-color: #4C9DC4;
		width: 55%;

		.halfStyle { 	
    		display: inline;
    		margin-right: -6%;
		}

		.hs-vertical-half:before {
			color: #fff;
		}

		.hs-vertical-half:after {
			color: #FF4231;
		}

		.kits {
			width: 22%;
			margin: 1%;
			float: left;
			background: -webkit-linear-gradient(left, #D1D1D1, #D4D4D4);
			background-color: #D4D4D4;
			text-align: center;
			border: 2px solid #383838;
			border-radius: 3px;
			padding: 9px 0;

			h1 {
				font-size: 2.2em;
				display: inline-block;
				padding: 5%;
				margin-bottom: 10%;
				border-radius: 3px;
				background-repeat: no-repeat;
			}

		}

	}

}
/*end of slide-two*/

#slide-three {
	background: -webkit-linear-gradient(top, #82A6C8, #91A6C8);
	background-color: #1C3366;

	.leftmain-picture {
		right: 0;
		background: url("../images/contact.jpg");
		background-size: cover;	
	}

	.topic {

		.halfStyle {
			font-size: 20em;
			position: relative;
    		overflow: hidden;
    		white-space: pre; 
    		display: inline;
    		float: right;
    		margin: 5% 20.5% 0 0;

		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 1;
			position: absolute;
			overflow: hidden;
			color: #fff;
			opacity: .7;
		}

		.hs-vertical-half:after {
			color: #FF3E34;
		}
	}

	.topic-wrap {
		height: 100%;
		width: 85%;
		padding: 5% 3%;
	}

	.about-me {
		height: 100%;
		width: 50%;
		float: left;

		h1 {
			margin: 0 0 8% 0;
		}

		p {
			margin: 0 0 8% 0;
		}
	}

	.contacts { 
		width: 80%;
	}
	
}/*end of slide three*/

.contacts {
	width: 60%;
	text-align: center;

	a {	
		width: 100%;
		float: left;
		text-decoration: none;
	}

	.reachby {
		background-color: green;
		padding: 8px 0;
		border-radius: 3px;
		border: 2px solid #383838;
  		background-color: #204775;
		text-decoration: none;
		margin-top: 3%;
		color: #D4D4D4;
		transition: all .5s;

		&:hover {
			background: -webkit-linear-gradient(right, #FF4231, #FF3E34);
			background-color: #FF3E34;
		}

	}
}

.main-content {
	background: -webkit-linear-gradient(top, #F7F7F7, #EDEDED 50%,  #D1D1D1, #D4D4D4 50%);
	background-color: #EDEDED; 
	width: 100%;
	height: 210%;
	top: 100%;
	position: relative;

	.padded-container {
		height: 100%;
		padding: 5%;
	}

	h1 {
		font-size: 2.7em;
		display: inline-block;
	}

	.portfolio-wrap {
		width: 100%;
		height: 32.5%;
		margin-top: 5%;
	}

	.site-wrap {
		width: 28%;
		height: 100%;
		position: relative;
		overflow: hidden;
		float: left;
		transition: all .85s ease;
		-webkit-transition-delay: .6s;
    	transition-delay: .6s;
	}

	.site {
		width: 100%;
		height: 100%;
		position: relative;
		top: 0;
		overflow: hidden;
		transition: .85s ease;
		-webkit-transition-delay: .6s;
    	transition-delay: .6s;
	}

	.site-link {
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: #303945;
		transition: all .85s ease;
		-webkit-transition-delay: .6s;
    	transition-delay: .6s;

    	.icon {
     		padding: 0;
    		margin: 50% 0;
    		font-size: 2.5em;

    		a {
    			text-decoration: none;
    			color: #FF2F31;
    		}
    	}
	}

	.icon {
		position: relative;
		padding: 50% 30%;
		margin: 15% auto;
		text-align: center;
	}

	.one {
		background: url("../images/home.jpeg");
		background-position: center center;
		background-size: cover;

		.icon {
			background: url("../images/comp.png");
			background-position: center center;
			background-size: cover;		
		}
	}

	.two {
		text-align: center;
		background: -webkit-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
  		background: -moz-linear-gradient(top, #5EEF9B, #55F5AF, #55F5E9);
		h1 {
			margin: 40% 0;

		}

	}

	.av8 {
		

	}

	.uwa {
		
	}

	.site-wrap:hover {

		.site-link {
			height: 100%;
			top: -100%;
		}

		.site {
			top: -100%;
		}
	}

	.profile {
		width: 30%;
		height: 36%;
		margin: 3% 8% 0 0;
		display: inline-block;
		float: left;

		.picwrap {
			width: 50%;
			height: 100%;
			position: relative;
			overflow: hidden;
			float: left;
			transition: all .85s ease;
			-webkit-transition-delay: .6s;
    		transition-delay: .6s;
  		}

		.realpic {
			width: 100%;
			height: 100%;
			position: relative;
			top: 0;
			overflow: hidden;
			transition: .85s ease;
			-webkit-transition-delay: .6s;
    		transition-delay: .6s;
		}

		.drawnpic {
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			transition: all .85s ease;
			-webkit-transition-delay: .6s;
    		transition-delay: .6s;
		}

		.picwrap:hover {

			.drawnpic {
				height: 100%;
				top: -100%;
			}

			.realpic {
				top: -100%;
			}
		}

		.realone {
			background: url("../images/sadme.png");
			background-position: center center;
			background-size: cover;
		}

		.realtwo {
			background-color: purple;
		}

		.drawnone {
			background-color: purple;
		}

		.drawntwo {
			background: url("../images/righthalf.png");
			background-position: center center;
			background-size: cover;
		}
	}

	.contacts {
		width: 38%;
		margin: 24% 0;
		float: left;
		text-align: center;
	}

	footer {
		width: 100%;
		bottom: 0;
		text-align: center;
		float: left;
	}
}

