* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: "Work Sans", georgia, arial, sans-serif;
}

.float-fix {
	clear: both;
}

.home {
	height: 100%;
	width: 100%;
	position: fixed;
}

.pic {
	height: 100%;
	width: 29%;
	position: absolute;
	background-position: center center;
	background: url("../images/home.jpeg");
	background-size: cover;
}

.slide-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: auto;

	.mySlides {
		height: 100%;
		display: none;

	}

	.fade {
		-webkit-animation-name: fade;
  		-webkit-animation-duration: .8s;
  		animation-name: fade;
 		animation-duration: .8s;
	}

	@keyframes fade {
		from {opacity: .5}
		to{opacity: 1}
	}

	.selector {
		display: inline-block;
		position: absolute;
		top: 90%;
		right: 50%;
	}

	.dot {
  		position: relative;
  		cursor:pointer;
 	 	height: 15px;
  		width: 15px;
  		background-color: #bbb;
  		border-radius: 50%;
  		display: inline-block;
  		transition: background-color 0.7s ease;
	}

	.active, .dot:hover {
  		background-color: #717171;
	}

	.padded-container {
		height: 100%;
		padding: 5%;
	}

	p {
		font-size: 1.05em;
	}


}

#slide-one {
	height: 100%;
	//background: -webkit-linear-gradient(left, #FF4B1F, #FF442D 50%, #00265E, #002442 50%);
	background: -webkit-linear-gradient(left, #00858F, #00A48F);	
	background-color: #00858F;

	.topic-wrap {
		display: flex;
		height: 100%;
		font-size: 1.05em;
		color: #FFF;
	}

	.topic {
		width: 40%;
		text-align: right;

		.halfStyle {
			font-size: 20em;
			position: relative;
    		overflow: hidden;
    		white-space: pre; 
    		display: inline;
		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 1;
			position: absolute;
			overflow: hidden;
			color: #fff;
			opacity: .7;
		}

		.hs-vertical-half:after {
			color: #FF3E34;
		}

	}
	.about-me {
		height: 100%;
		width: 57%;
		margin-left: 3%;
		display: inline;

		p {
			margin-top: 48%;

		}
	}
}/*end of slide-one css edditing*/

#slide-two {
	height: 100%;

	.approach {
		background-color: red;
		width: 50%;
		height: 100%;
		float: left;

		.halfStyle {
			font-size: 15em;
			position: relative;
			overflow: hidden;
    		white-space: pre; 
    		display: inline;
		}

		.hs-vertical-half:before {
			display: block;
			display: inline;
			z-index: 1;
			position: absolute;
			overflow: hidden;
			color: #fff;

		}

		.hs-vertical-half:after {
			color: blue;
		}

		p {
			width: 90%;
			margin: 0 auto;
		
		
		}

	}

	#toolkit {
		background-color: teal;

		.halfStyle { 	
    		display: inline;
    		margin-right: -10%;
		}

		.hs-vertical-half:before {
			color: orange;

		}

		.hs-vertical-half:after {
			color: grey;
		}

		.kit-wrap {
			background-color: green;
			width: 90%;
			margin: 0 auto;
		}
	}

}


.main-content {
	background-color: teal;
	width: 100%;
	height: 100%;
	top: 100%;
	position: relative;
}

